body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}
p {
  font-size: 20px;
  line-height: 1.4;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  border-radius: 4px;
  padding: 15px 30px;
  color: #000000;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  top: 20px;
  right: -30px;
}

.botao {
  background: #ee2211;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
}

.subtitulo {
  font-size: 64px;
  text-decoration: uppercase;
  text-align: right;
  padding: 40px;
  align-self: center;
  color: #c6c6c6;
}

.vantagens {
  background: #ffffff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
.vantagens-item p {
  grid-column: 2;
}

.rodape {
  width: 100%;
  background: #ffffff;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
}
